<!-- Main Row for the input fields -->
<div class="row grey mainrow">
  <div class="container">
    <!-- Headers -->
    <h2 class="green-text bold indent">דיווח הטמעה</h2>
    <h3 class="green-text indent">איתור חניך לפי:</h3>

    <!-- Input form -->
    <form>

      <!-- Project and ID div -->
      <div class="indent col-md-6 col-md-offset-6 col-xs-10 col-xs-offset-2 right">
        <div class="form-group">
          <label for="selectedProjectName">פרוייקט:</label>
          <select (change)="projectSelected()" required [(ngModel)]="selectedProjectName" class="form-control" name="selectedProjectName" id="selectedProjectName">
              <option *ngFor='let project of user.projects' value="{{project}}">{{project}}</option>
          </select>
        </div>

        <!-- ID div -->
        <div class="form-group">
          <label for="enteredID">מספר זהות:</label>
          <input name="enteredID" (keyup.enter)="searchPerformed()" [(ngModel)]="enteredID" type="text" class="form-control" id="enteredID">
        </div>

      </div>

      <!-- More Search fields div -->
      <div id="moreSearchFieldsDiv">

        <!-- District div -->
        <div class="indent col-md-2 col-xs-10 right">
          <div class="form-group">
            <label for="district">מחוז</label>
            <select (change)="districtChanged()" [(ngModel)]="selectedDistrictId" class="form-control" name="selectedDistrictId" id="district">
              <option value="not-selected">בחר מרשימה</option>
              <option *ngFor='let district of districts' value="{{district.id}}">{{district.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-offset-1 col-xs-offset-2"></div>

        <!-- Department div -->
        <div class="indent col-md-2 col-xs-10 right">
          <div class="form-group">
            <label for="selectedDepartment">מחלקה</label>
            <select class="form-control" [(ngModel)]="selectedDepartment" name="selectedDepartment" id="selectedDepartment">
              <option value="not-selected">בחר מרשימה</option>
              <option *ngFor='let department of selectedDepartments' value="{{department}}">{{department}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-offset-1 col-xs-offset-2"></div>

        <!-- Module div -->
        <div class="indent col-md-2 col-xs-10 right">
          <div class="form-group">
            <label for="module">מודול</label>
            <select class="form-control" (change)="moduleChanged()" [(ngModel)]="selectedModule" name="selectedModule" id="module">
              <option value="not-selected">בחר מרשימה</option>
              <option *ngFor='let module of selectedProject.modules' value="{{module}}">{{module}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-offset-1 col-xs-offset-2"></div>

        <!-- Course div -->
        <div class="indent col-md-2 col-xs-10 right">
          <div class="form-group">
            <label for="selectedCourseId">קורס</label>
            <select class="form-control" [(ngModel)]="selectedCourseId" name="selectedCourseId" id="selectedCourseId">
              <option value="not-selected">בחר מרשימה</option>
              <option *ngFor='let course of visibleCourses' value="{{course.id}}">{{course.shortName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-offset-1 col-xs-offset-2"></div>

      </div>
      <!-- End of more search fields -->

      <!-- 'Search' & 'Advanced search' div -->
      <div class="indent col-md-offset-2 col-md-10 col-xs-offset-2 col-xs-10 right">
        <a href="#" (click)="searchPerformed()" class="btn btn-primary">חיפוש</a>
        <a href="#" class="btn btn-success" id="moreSearchFieldsBtn"><span id="moreSearchFieldsIcon" class="glyphicon glyphicon-plus"></span> חיפוש מתקדם</a>
      </div>

    </form>
  </div>
</div> <!-- End of mainrow -->

<!-- No Search div -->
<div *ngIf="!didPerformSearch" class="row">
  <div class="container" style="text-align: center">
    <br><br>
    <h3>להתחלת דיווח, הזן את נתוני המשתמש ולחץ ״חיפוש״</h3>
    <br><br>
  </div>
</div>

<!-- Results div -->
<div *ngIf="didPerformSearch" class="row">
  <div class="container">

    <!-- No results div -->
    <div style="font-weight: bold; font-size: 20px; direction: rtl; text-align: center; margin: auto;" *ngIf="visibleTraineesForPage.length == 0" class="row">
      <h3>לא נמצאו תוצאות חיפוש</h3>
      <img style="width:220px; height: 220px;" src=".\assets\img\notFound.png" alt="Not Found">
      <br><br>
    </div>

    <!-- Results -->
    <div *ngIf="visibleTraineesForPage.length != 0" class="table-responsive">

      <table class="table table-striped table-hover">

        <!-- Table headers -->
        <thead>
          <th></th>
          <th>מספר זהות</th>
          <th>שם משפחה</th>
          <th>שם פרטי</th>
          <th>משתמש</th>
          <th>סוג משתמש</th>
          <th>מחוז</th>
          <th>מחלקה</th>
        </thead>

        <!-- Table's body - from the results -->
        <tbody *ngFor="let trainee of visibleTraineesForPage">
          <!-- Trainee detailes row -->
          <tr>
            <td class="centered">
              <span style="cursor:pointer;" *ngIf="!trainee.isOpen" (click)="trainee.isOpen = !trainee.isOpen" class="glyphicon glyphicon-plus-sign"></span>
              <span style="cursor:pointer;" *ngIf="trainee.isOpen" (click)="trainee.isOpen = !trainee.isOpen" class="glyphicon glyphicon-minus-sign"></span>
            </td>
            <td>{{trainee.idNumber}}</td>
            <td>{{trainee.lastName}}</td>
            <td>{{trainee.firstName}}</td>
            <td>{{trainee.userId}}</td>
            <td>{{trainee.traineeType}}</td>
            <td>{{trainee.district}}</td>
            <td>{{trainee.department}}</td>
          </tr>

          <!-- Courses detailes row (row for each course) -->
          <tr *ngFor="let course of trainee.courses" class="hiderow">
            <!--hiderow -->
            <td *ngIf="trainee.isOpen" colspan="11">

              <!-- Implementation date -->
              <div class="col-md-6 col-xs-12 form-group">
                <label for="date" class="bold">תאריך עדכון אחרון:</label>
                <br>
                <input type="date" class="form-control" (change)="dateChanged($event, course)" name="date" value="{{course.assimilationDate}}" id="date">
              </div>

              <!-- Course name -->
              <div class="col-md-6 col-xs-12 form-group">
                <!-- <label for="comments" class="bold">קורס:</label> -->
                <br>
                <p class="centered" style="font-size: 140%; font-weight: bold;">קורס: <u>{{course.shortName}}</u></p>
              </div>

              <!-- Proccesses table -->
              <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th>שם התהליך</th>
                    <th>מצב הטמעה</th>
                    <th>הערות לתהליך</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let process of course.processes; let i = index">

                      <!-- Proccess name -->
                      <td>
                        <p>{{process}}</p>
                      </td>

                      <!-- Status select box -->
                      <td>
                        <div class="form-group">
                          <select class="form-control" name="" (change)="statusChanged($event, course, i)" value={{course.assimilationStatuses[i]}}>
                            <option value="not-selected">בחר מצב מהרשימה</option>
                            <option *ngFor='let assimilationStatus of selectedProject.assimilationStatuses'   value="{{assimilationStatus}}">{{assimilationStatus}}</option>
                          </select>
                        </div>
                      </td>

                      <!-- Proccess note -->
                      <td>
                        <div class="form-group">
                          <textarea class="form-control" name="name" rows="5" (change)="noteChanged($event, course, i)">{{course.notes[i]}}</textarea>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Save course button -->
              <div class="col-md-12">
                <a href="#" (click)="savePerformed(trainee, course)" class="btn btn-success meetingSaveBtn">שמור</a>
              </div>

            </td>
          </tr>

        </tbody>
      </table>

      <!-- Pagination area -->
      <nav class="centered ltr" aria-label="Page navigation">
        <ul class="pagination">

          <!-- Back -->
          <li class="no-bg">
            <a (click)="lastPage()" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          <!-- Pages -->
          <li [ngClass]="{'active': selectedPage == page}" *ngFor="let page of pages"><a (click)="pageChanged(page)" href="#">{{page}}</a></li>

          <!-- Next -->
          <li class="no-bg">
            <a (click)="nextPage()" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</div>
<!-- End of results div -->
